.container-fluid{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.app{
    max-height: 100vh;
}
.app main{
    height: calc(100vh - 90px);
}
main .content{
    background-color: #021735;
    height: 100%;
    overflow-y: scroll;
}
main .sidebar{
    height: 100%;
    width: auto;
    background-color:black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
.logo{
    width: 200px;
    margin: 15px 0;
}
.app footer{
    min-height: 90px;
    background-color: #181818;
}
ul a{
    list-style: none;
    text-decoration: none;
    display: block;
}
ul li a{
    color: gray;
    padding: 10px 25px;
}

ul:first-child li:nth-child(2) a{
    color: white;
    border-left: 2px greenyellow solid;
}
ul:first-child li:nth-child(5) a{
    color: white;
    font-size: 20px;
    margin-top: 10px;
}
.item{
    display: flex;
    align-items: flex-end;
}  
ul li:hover a{
    color: white;
    cursor: pointer;
}
.fas{
    font-size: 30px;
    padding-right: 10px;
}
.far{
    padding-right: 10px;
}
ul:last-child li:last-child .far{
    font-size: 30px;
}
ul:last-child li:last-child a{
    padding: 10px 25px;
    color: white;
}
.sidebar hr{
    border-color: gray;
    margin: 0 15px;
}
/*barra fissa*/
.fisso{
    background-color: rgba(0, 0, 0, .3);
    min-height: 90px;
    height: 90px;
    width: 100%;
    position: fixed;
    top: 0;
    color: white;
    z-index: 1002;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
button{
    background-color: rgba(0, 0, 0, .3);
    font-size: 13px;
    padding: 10px 35px;
    color: white;
    border-radius: 50px;
    border-color: white;
    cursor: pointer;
    margin-right: 15px;
}
button:hover{
    font-size: 16px;
    padding: 15px 35px;
}
.giu{
    margin-top: 90px;
}