.container-fluid{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.app{
    max-height: 100vh;
}
.app main{
    height: calc(100vh - 90px);
}
main .content{
    background-color: #021735;
    height: 100%;
    overflow-y: scroll;
}
main .sidebar{
    height: 100%;
    width: auto;
    background-color:black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
.logo{
    width: 200px;
    margin: 15px 0;
}
.app footer{
    min-height: 90px;
    background-color: #181818;
}
ul{
    list-style: none;
    text-decoration: none;
}
li{
    color: gray;
    padding: 10px 25px ;
}

ul:first-child li:nth-child(2){
    color: white;
    border-left: 2px greenyellow solid;
}
ul:first-child li:nth-child(5){
    color: white;
    font-size: 20px;
    margin-top: 10px;
}
.item{
    display: flex;
    align-items: flex-end;
}  
ul li:hover{
    color: white;
    cursor: pointer;
}
.fas{
    font-size: 30px;
    padding-right: 10px;
}
.far{
    padding-right: 10px;
}
ul:last-child li:last-child .far{
    font-size: 30px;
}
ul:last-child li:first-child{
    border-bottom: gray 1px solid;
    padding: 10px 0;
    margin: 0 30px;
}
ul:last-child li:last-child{
    padding: 10px 30px;
    color: white;
}

/*barra fissa*/
.fisso{
    background-color: rgba(0, 0, 0, .3);
    min-height: 90px;
    height: 90px;
    width: 100%;
    position: fixed;
    color: white;
    z-index: 1002;
}
button{
    background-color: rgba(0, 0, 0, .3);
    font-size: 13px;
    padding: 10px 35px;
    color: white;
    border-radius: 50px;
    border-color: white;
    position: fixed;
    right: 1%;
    top: 25px;
    cursor: pointer;
}